.vscode

*[lL]ogs*/

[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide

src/*log*
*log*

.env.*
!.env.example

security/

Tests/manual_tests

src/StrategyTester/src/Scenarios/**/results.js*
src/StrategyTester/src/Scenarios/results.js*

src/StrategyTester/src/UI/Candlesticks/Candles.js